
header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1d1f36;
}

a{
  color: #fff;
  text-decoration: none;
}

#menu ul li .first-link{
  color: #b37f55;
}

#menu ul li a:hover{
  transition: 450ms;
  color: #c76617;
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  max-width: 1218px;
  height: 20vh;
}


.nav-lista{
  list-style: none;
  display: flex;
}

.nav-lista li{
  margin-left: 32px;
}

.menu-mobile{
  cursor: pointer;
  display: none;
}

.menu-mobile div{
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px){
  body{
    /* overflow: hidden; */
  }
  nav{
    width: 90%;
    justify-content: space-between;
  }
 .nav-lista{
    position: absolute;
    top: 17vh;
    right: 0;
    width: 50vw;
    height: 80vh;
    background-color: #1d1f36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    opacity: 0;
    transition: 0.5s;
  }
  .nav-lista li{
    margin-left: 0;
    opacity: 0;
  }
  .menu-mobile{
    display: block;
  }
}

/* classe que é ativada atravez do javascript */
.nav-lista.ativa{
  opacity: 1;
  /* transform: translateX(0); */
}

.menu-mobile.ativa .linha-1{
  transform: rotate(-45deg) translate(-8px, 8px);
}
.menu-mobile.ativa .linha-2{
  opacity: 0;
}
.menu-mobile.ativa .linha-3{
  transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes fade-nav-links{
  from{
    transform: translateX(50px);
    opacity: 0;
  }to{ 
    opacity: 1;
    transform: translateX(0);
  }
}































/* media queries */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
    .example {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* @media only screen and (min-width: 600px) {
    .example {background: green;}
  }
   */
  /* Medium devices (landscape tablets, 768px and up) */
  /* @media only screen and (min-width: 768px) {
    .example {background: blue;}
  }  */
  
  /* Large devices (laptops/desktops, 992px and up) */
  /* @media only screen and (min-width: 992px) {
    .example {background: orange;}
  } 
   */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media only screen and (min-width: 1200px) {
    .example {background: pink;}
  } */