@charset "UTF-8";

body{
    font-family: Verdana;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-self: center;
    align-items: center;
    background-color: rgb(33, 43, 43);
}

section{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}
/* container das imagens */
.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

.nav-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  justify-content: center;
  display: flex;   
}  

.m-btn{
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px; 
  cursor: pointer;
  transition: 1s;
}

.m-btn:not(:last-child){
  margin-right: 30px;
}

.m-btn:hover{
  background-color: rgb(138, 138, 138);
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

.nav-automatica{
  position: absolute;
  width: 800px;
  margin-top: 460px;
  display: flex;
  justify-content: center;
}

.nav-automatica div{
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.nav-automatica div:not(:last-child){
  margin-right: 30px;
  justify-content: center;
}

#radio1:checked ~ .nav-automatica .a-b1{
  background-color: rgb(255, 255, 255);
}

#radio2:checked ~ .nav-automatica .a-b2{
  background-color: rgb(255, 255, 255);
}

#radio3:checked ~ .nav-automatica .a-b3{
  background-color: rgb(255, 255, 255);
}

#radio4:checked ~ .nav-automatica .a-b4{
  background-color: rgb(255, 255, 255);
}